:root {
    --form-control-color: #0078d4;
    --form-control-disabled: #555455;
    --foreground: #959495;
    --accent-color: #0283e7;
  }

  .flex-row {
    display: flex;
    gap: 1rem;
  }

.pindigitalitem-container input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #2c303a;
    margin: 0;
    color: var(--foreground);
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid #959495;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.pindigitalitem-container input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--accent-color);
    transform: scale(0);
}

.pindigitalitem-container input[type="checkbox"]:checked::before {    
    transform: scale(1);
}

.pindigitalitem-container input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    border-radius: 50%;
    background: #2c303a;
    box-shadow: inset #111 0 -1px 8px;
    border: 0.1em solid #555;
    color: var(--form-control-disabled);
    cursor: not-allowed;
    transition: all 0.2s ease;
}

.pindigitalitem-container input[type="checkbox"]:disabled::before {
    transform: scale(0);
}

.pindigitalitem-container input[type="checkbox"].active:disabled {
    background: #24E0FF;
    border: 0.15em solid #555;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 2px 1px, inset #006 0 0 5px, #3F8CFF 0 0 8px;
}


.pinaanalogitem-container {
   
    border-radius: 16px;
    
    font-size: 1rem;
    font-family: Arial;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: default;
}

.pinaanalogitem-container input::-webkit-outer-spin-button,
.pinaanalogitem-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.pinaanalogitem-container input[type=number] {
    -moz-appearance: textfield;
}

.pinaanalogitem-container input[type="number"] {
    width: 3rem;
    background: #2c303a;
    font-size: 1.2rem;
    border: 0.15em solid #959495;
    border-radius: 5px;
    padding-right: 10px;
    color: var(--accent-color);
    text-align: right;
    font-weight: bold;
}

.pinaanalogitem-container input[type="number"]:focus {
    outline: none;
}

.pinaanalogitem-container input[type="number"]:disabled {
    width: 3rem;
    background: #2b2f3925;
    border: 0.15em solid var(--form-control-disabled);
    color: var(--form-control-disabled);
    border-radius: 3rem;
    cursor: not-allowed;
}